In [2]:
import pandas as pd
data = pd.read_csv("IT_2013p_EUSILC.csv")
data

,PB010,PB020,PB030,PB040,PB060,PB100,PB110,PB120,PB130,PB140,...,PW190,PW200,PW210,PW220,PX010,PX020,PX030,PX040,PX050,PX200
0,2013,IT,821,1431.730769,NaN,2,2013,10.0,1,1932,...,8.0,8.0,8.0,NaN,1,80,82,1,6.0,543.652549
1,2013,IT,1031,1431.730769,NaN,3,2013,14.0,4,1964,...,6.0,9.0,8.0,NaN,1,48,103,1,2.0,1753.075882
2,2013,IT,1371,1431.730769,NaN,4,2013,16.0,2,1979,...,6.0,8.0,8.0,NaN,1,33,137,1,6.0,NaN
3,2013,IT,1631,1431.730769,NaN,4,2013,1.0,2,1953,...,6.0,NaN,NaN,2.0,1,59,163,1,2.0,8765.280972
4,2013,IT,1831,1431.730769,NaN,2,2013,9.0,3,1932,...,NaN,8.0,NaN,3.0,1,80,183,1,6.0,7884.221284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37204,2013,IT,5110832,1808.036984,NaN,2,2013,2.0,2,1965,...,4.0,NaN,6.0,2.0,1,47,511083,1,6.0,16683.457035
37205,2013,IT,5110834,1808.036984,NaN,4,2013,13.0,3,1941,...,7.0,5.0,1.0,4.0,1,71,511083,1,2.0,856.171816
37206,2013,IT,5110835,1808.036984,NaN,3,2013,4.0,2,1940,...,5.0,9.0,NaN,NaN,1,72,511083,1,7.0,2034.833565
37207,2013,IT,5110836,1808.036984,NaN,2,2013,8.0,1,1986,...,NaN,NaN,NaN,1.0,1,26,511083,1,5.0,NaN
37208,2013,IT,5110837,1808.036984,NaN,2,2013,14.0,1,1992,...,7.0,8.0,NaN,3.0,1,20,511083,1,2.0,4387.152312