In [4]:
import pandas as pd
data = pd.read_csv("IT_2013p_EUSILC.csv")
print(data.shape)
print(data.head())

(37209, 94)
   PB010 PB020  PB030        PB040  PB060  PB100  PB110  PB120  PB130  PB140  \
0   2013    IT    821  1431.730769    NaN      2   2013   10.0      1   1932
1   2013    IT   1031  1431.730769    NaN      3   2013   14.0      4   1964
2   2013    IT   1371  1431.730769    NaN      4   2013   16.0      2   1979
3   2013    IT   1631  1431.730769    NaN      4   2013    1.0      2   1953
4   2013    IT   1831  1431.730769    NaN      2   2013    9.0      3   1932

   ...  PW190  PW200  PW210 PW220  PX010  PX020  PX030  PX040  PX050  \
0  ...    8.0    8.0    8.0   NaN      1     80     82      1    6.0
1  ...    6.0    9.0    8.0   NaN      1     48    103      1    2.0
2  ...    6.0    8.0    8.0   NaN      1     33    137      1    6.0
3  ...    6.0    NaN    NaN   2.0      1     59    163      1    2.0
4  ...    NaN    8.0    NaN   3.0      1     80    183      1    6.0

         PX200
0   543.652549
1  1753.075882
2          NaN
3  8765.280972
4  7884.221284

[5 rows x 94 columns]

In [5]:
column_mapping = {
    # Personal Basic Data
    "PB010": "Year of the survey",
    "PB020": "Country",
    "PB030": "Personal ID",
    "PB040": "Personal cross-sectional weight",
    "PB060": "Personal cross-sectional weight for selected respondent",
    "PB100": "Quarter of the personal interview",
    "PB110": "Year of the personal interview",
    "PB120": "Minutes to complete the personal questionnaire",
    "PB130": "Quarter of birth",
    "PB140": "Year of birth",
    "PB150": "Sex",
    "PB190": "Marital status",
    "PB200": "Consensual union",
    "PB220A": "Citizenship 1",

    # Personal Education
    "PE010": "Current education activity",
    "PE020": "ISCED level currently attended",
    "PE040": "Highest ISCED level attained",

    # Personal Labour
    "PL031": "Self-defined current economic status",
    "PL035": "Worked at least one hour during the previous week",
    "PL015": "Person has ever worked",
    "PL020": "Actively looking for a job",
    "PL025": "Available for work",
    "PL040": "Status in employment",
    "PL051": "Occupation (ISCO-08 (COM))",
    "PL060": "Number of hours usually worked per week in main job",
    "PL100": "Total hours usually worked in second/third jobs",
    "PL111": "NACE Rev.2 (Industry)",
    "PL120": "Reason for working less than 30 hours",
    "PL130": "Number of persons working at the local unit",
    "PL140": "Type of contract",
    "PL150": "Managerial position",
    "PL160": "Change of job since last year",
    "PL170": "Reason for change",
    "PL180": "Most recent change in individual's activity status",
    "PL190": "When began first regular job",

    # Personal Health
    "PH010": "General health",
    "PH020": "Suffer from a chronic (long-standing) illness/condition",
    "PH030": "Limitation in activities because of health problems",
    "PH040": "Unmet need for medical examination or treatment",
    "PH050": "Main reason for unmet need (medical)",
    "PH060": "Unmet need for dental examination or treatment",
    "PH070": "Main reason for unmet need (dental)",

    # Personal Income (G=Gross, N=Net)
    "PY020N": "Non-Cash employee income (net)",
    "PY035N": "Contributions to individual private pension plans (net)",
    "PY010G": "Employee cash or near cash income (gross)",
    "PY020G": "Non-Cash employee income (gross)",
    "PY021G": "Company car (gross)",
    "PY030G": "Employer's social insurance contribution (gross)",
    "PY031G": "Optional employer social insurance contributions (gross)",
    "PY035G": "Contributions to individual private pension plans (gross)",
    "PY050G": "Cash benefits or losses from self-employment (gross)",
    "PY080G": "Pension from individual private plans (gross)",
    "PY090G": "Unemployment benefits (gross)",
    "PY100G": "Old-age benefits (gross)",
    "PY110G": "Survivor' benefit (gross)",
    "PY120G": "Sickness benefits (gross)",
    "PY130G": "Disability benefits (gross)",
    "PY140G": "Education-related allowances (gross)",
    "PY200G": "Gross monthly earnings for employees",

    # Material Deprivation
    "PD020": "Replace worn-out clothes by new ones",
    "PD030": "Two pairs of properly fitting shoes",
    "PD050": "Get-together with friends/family for drink/meal",
    "PD060": "Regularly participate in a leisure activity",
    "PD070": "Spend a small amount of money each week on yourself",
    "PD080": "Internet connection for personal use at home",
    "PD090": "Regular use of public transport",

    # Personal Well-being (2013 Module)
    "PW010": "Overall life satisfaction",
    "PW020": "Meaning of life",
    "PW030": "Satisfaction with financial situation",
    "PW040": "Satisfaction with accommodation",
    "PW050": "Being very nervous",
    "PW060": "Feeling down in the dumps",
    "PW070": "Feeling calm and peaceful",
    "PW080": "Feeling downhearted or depressed",
    "PW090": "Being happy",
    "PW100": "Job satisfaction",
    "PW110": "Satisfaction with commuting time",
    "PW120": "Satisfaction with time use",
    "PW130": "Trust in the police",
    "PW140": "Trust in the legal system",
    "PW150": "Trust in the political system",
    "PW160": "Satisfaction with personal relationships",
    "PW170": "Personal matters (anyone to discuss with)",
    "PW180": "Help from others",
    "PW190": "Trust in others",
    "PW200": "Satisfaction with recreational or green areas",
    "PW210": "Satisfaction with living environment",
    "PW220": "Physical security",

    # Calculated / Auxiliary
    "PX010": "Exchange rate",
    "PX020": "Age at end of income reference period",
    "PX030": "Household ID",
    "PX040": "Selected respondent status",
    "PX050": "Activity status",
    "PX200": "Computed variable (Non-standard)"
}

# Usage example:
# df.rename(columns=column_mapping, inplace=True)
data.rename(columns=column_mapping, inplace=True)
data.head()

,Year of the survey,Country,Personal ID,Personal cross-sectional weight,Personal cross-sectional weight for selected respondent,Quarter of the personal interview,Year of the personal interview,Minutes to complete the personal questionnaire,Quarter of birth,Year of birth,...,Trust in others,Satisfaction with recreational or green areas,Satisfaction with living environment,Physical security,Exchange rate,Age at end of income reference period,Household ID,Selected respondent status,Activity status,Computed variable (Non-standard)
0,2013,IT,821,1431.730769,NaN,2,2013,10.0,1,1932,...,8.0,8.0,8.0,NaN,1,80,82,1,6.0,543.652549
1,2013,IT,1031,1431.730769,NaN,3,2013,14.0,4,1964,...,6.0,9.0,8.0,NaN,1,48,103,1,2.0,1753.075882
2,2013,IT,1371,1431.730769,NaN,4,2013,16.0,2,1979,...,6.0,8.0,8.0,NaN,1,33,137,1,6.0,NaN
3,2013,IT,1631,1431.730769,NaN,4,2013,1.0,2,1953,...,6.0,NaN,NaN,2.0,1,59,163,1,2.0,8765.280972
4,2013,IT,1831,1431.730769,NaN,2,2013,9.0,3,1932,...,NaN,8.0,NaN,3.0,1,80,183,1,6.0,7884.221284